* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body,
html {
    background-color: black;
}

.App {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}