.contenedor-input-label {
    width: 96%;
    margin-bottom: 5px;
}

.cuerpo-input {
    padding: 5px 8px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-direction: column;
}

.input-text {
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    outline-style: none;
    outline: none;
    font-style: italic;
}

.label-input {
    margin-left: 8px;
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}